.fakeRow{
	height:30px;
}

.totalReg{
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Botoes */
.proximaPag:link{
	color:#fff !important;
	background: url('../../../resources/images/Operacional/btnBG.png') repeat-x top left;
	padding: 5px;
	border-radius: 5px;
	text-decoration: none;
}


.voltarPag:link{
	color:#fff !important;
	background: url('../../../resources/images/Operacional/btnBG.png') repeat-x top left;
	padding: 5px;
	border-radius: 5px;
	text-decoration: none;
}

/* Tabela lista linhas moveis */
#lojasTable{
	border: 1px solid #e7e7e7;
	width:100%;
}

#lojasTable tr:first-child{
	background: #ADC4DC !important;
	color: #000;
	font-weight: bold;
	font-size:12px;
	line-height: 20px;
}

#lojasTable tr{
	border-bottom: solid 1px #e7e7e7;
	line-height: 20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#lojasTable tr td{
	max-width: 100px;
	min-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.par{
	background: #E8E8E8;
}

.impar{
	background: #FFF;
}

.formInner{
	margin-bottom: 50px;
}

table tr:not(:first-child):hover{
	background:#CCC;
}

/* Painel */
.painel{
	height:auto;
	width:100%;
	margin:5px;
	float:left;
}

.btnFiltrar{
	float:left;
}

.filtro{
	float: left;
	height: 100%;
	width: 100%;
	margin-top:15px;
	margin-bottom:5px;
	text-align: center;
}

.filtro02{
	margin-top:5px;
}

.blue{
	color:blue;
}

.navLojas{
	float:right;
}