/*******************************************/
/* Geral
/*******************************************/
.impar{
	background: #FFF;
}

.par {
	background: #E8E8E8;
}

.tudo{
	min-height: 100%;
	min-width:100%;
	position: relative;
	float:left;
}

.formInner{
	width:1165px;
	margin: 0 auto;
	padding: 20px;
	background: #F6F6F6;
	min-height: 500px;	
}

legend{
	margin-bottom:40px !important;
}
html{
	overflow-x: hidden;
	height:100%;
}
body{
	padding:0;
	margin:0;
	height:100%;
}
li{
	list-style-type: none;
}
a:link{
	color: #1919FF !important;
	font-weight:bold !important;
}
a:visited{
	color: #1919FF !important;	
	font-weight:bold !important;
}
#logonMessage{
	color: red;
	text-align:center;
}	
.title{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin-bottom:20px;
}
label{
	margin-right:10px;
	margin-left:25px;
	font-size: 13px;
}
.ui-widget-header{
	background: #ADC4DC !important;
}
#delete, #btnFiltrar{
	cursor: pointer;
}
input, textarea, select {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 1px 1px 3px #ccc;
	-webkit-box-shadow: inset 1px 1px 3px #ccc;
	box-shadow: inset 1px 1px 3px #ccc;
}
textarea{
	min-height: 100px;
}
table tr td input, table tr td textarea{
	width:100%;
}
select{
	height:26px !important;
}
.fakeRow{
	height:30px;
}
table{
	width:100%;
}

/*******************************************/
/* Header
/*******************************************/
.welcomeText{
	font-weight:bold !important;
}
.welcome{
	padding-bottom: 10px;
	margin-left: 15px;
}
.welcome a{
	margin-left:5px;
}
.logo{
	width:175px;
	height:110px;
	padding:4px;
	margin:20px 0 -20px 20px;
}
.logout{
	width:32px;
	height:32px;
}
.logoText{
	margin-top: 30px;
	margin-left: 20px;
	font-weight:bold;
	color:#B9B9B9;
}
.imagePreview{
	width:80px;
	height:80px;
	float:left;
}
/*******************************************/
/* Menu principal
/*******************************************/
nav{
	position:fixed;
}
.dropdown-toggle{
	height:55px !important;
}
.navbar-header{
	margin-left:10px;
}
.navbar-default{
	background:#5B89B8 !important;
	color:#FFF !important;
}
.navbar-default li:hover:not(.dropdown-header){
	background: #5C5C5C !important;
	height: 55px;
}
.dropdown-menu li:hover:not(.dropdown-header){
	background: #5C5C5C !important;
	height: inherit;
}

.dropdown-header{
	color: #FFFFFF !important;
	font-weight: bold;
	font-size: 14px !important;
}
.navbar-default .navbar-nav>.active>a{
	height: 55px;
	background: #5C5C5C !important;
}
.navbar-brand:hover{
	height: 55px;
	background: #5C5C5C !important;
}
.navbar-nav li a{
	color: #FFF !important;
}
.dropdown-menu li a{
	font-weight: normal !important;
	font-size: 12px;
}
.dropdown-menu{
	background:#5B89B8 !important;
	color:#FFF !important;
}
.dropdown-menu>li>a:hover{
	background: #5C5C5C !important;
	height: inherit;
}
.bigMenu{
	width:450px;
}
.onLeft{
	float:left;
	width:50%;
}
.onRight{
	float:left;
	width:50%;
}
.onLeft li, .onRight li{
	padding-left:20px;
}
.dividerFix{
	float:left;
	width:100%;
}
.firstActive{
	height: 55px;
	background: #5C5C5C !important;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color: #5C5C5C;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color: #555;
	background-color: #5C5C5C !important;
}

/*******************************************/
/* Footer
/*******************************************/
.footerInner{
	padding:15px;
	font-size: 12px;
	text-align: center;
}
footer{
	background:#5B89B8 !important;
	color:#FFF !important;
	width:100%;
	position:absolute;
	bottom:0;
}

/*******************************************/
/* Conteúdo
/*******************************************/
#conteudo{
	padding:0px 15px 15px 15px;
	padding-bottom: 100px;
}
#conteudoInner{
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

/************************
*	 Aniversariantes     *
*************************/
.aniversariantesTable{
	width: 550px !important;
	border-top: 3px solid #66FF66;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.aniversariantesTable tr td{
	font-size: 12px;
}

.aniversariantesTable tr:nth-child(2){
	font-weight: bold;
}

.tableTitle{
	text-align: center;
	font-weight: bold;
}

/************************
*	 Changelog		     *
*************************/
#changeLog tr:first-child {
	background: #ADC4DC !important;
	color: #000;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
}

/* CSS para resolução de 1024 x 768 */
@media screen and (max-width: 1024px) {
	.formInner{
		width:1024px;
		margin: 0 auto;
		padding: 20px;
		background: #F6F6F6;
		min-height: 500px;	
	}

	#conteudoInner{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.navbar{
		width:1041px;
	}
}

/************************
*	 Proceddimentos	     *
*************************/

.filePdf{
	padding-left:50px; 
}