/* Form */
label{
	margin-left: 5px !important;
}

input:hover{
	outline-offset: -0px;
	outline: -webkit-focus-ring-color auto 0px;
}

#cadUsuario:hover{
	background: #ADC4DC !important;
}

#empresasOK{
	width:100%;
}

#empresasOK:hover{
	background: #ADC4DC !important;
}

/* CSS para resolução de 1024 x 768 */
@media screen and (max-width: 1024px) {
	.formInner{
		margin: 0 auto;
		width: 900px;
	}

	input[name="endereco"]{
		width: 375px;
	}

	input[name="nomeUsuario"]{
		width: 247px;
	}
}