/* Sobrescreve layout */
.tudo{
	float:none !important;
}

.theFirst{
	background: #ADC4DC !important;
	color: #000;
	font-weight: bold;
	font-size:12px;
	line-height: 20px;
}

.editableTable tr:nth-child(2n+1){
	background: #E8E8E8;
}

#conteudoInner{
	margin-top: 10px !important;
	margin-left: 10px !important;
	margin-right: -15px !important;
}

.toFix{
	position: fixed;
	background: #E8E8E8;
	margin-left: -20px;
}

.formInner {
	width: auto !important;
	overflow:auto;
	min-height: 800px !important;
}

.fakeRow{
	height:20px;
}

/* Tabela */
.dataTable tr td{
	width:200px;
	max-width:200px;
	min-width:200px;
}

.plus{
	width:20px;
	height:12px;
	background: url('../../../resources/images/plus.png') no-repeat center center;
}
.minus{
	width:20px;
	height:12px;
	background: url('../../../resources/images/minus.png') no-repeat center center;
}

 .dataTabletable tr td:nth-child(1){
	width:230px;
	max-width:230px;
	min-width:230px;
}

.overflow{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.addRow{
    height:30px;
}

.expand{
	width: 21px;
	height: 21px;
	float: left;
}

#subItensTable tr td:nth-child(1){
	padding-left: 40px;
}

.editableTable { 
	width:100% 
} 

.editableTable .cellEditing { 
	padding: 0; 
} 

.editableTable .cellEditing input[type=text]{ 
	width:100%; 
	border:0; 
	background-color:rgb(255,253,210); 
}



/* Conta Contabil */
#cadContaContabilForm input{
	width:60%;
}

#addContaContabilBtn{
	width:100% !important;
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom: solid 1px;
	margin-top:10px;
}

/* Tabela para adicionar despesa */
.despesaNome{
	width: 100px !important;
	max-width: 100px !important;
	min-width: 100px !important;
}

#cadDespesaForm  table tr td select{
	width:160px;
}

#qtdeItens{
	width:60px;
}

#dataAquisicao{
	width:100px;
}

#fornecedor{
	width:360px;
}

#nf{
	width:100px;
}

#selectContaContabil{
	width:380px !important;
}

/* Painel */
.painel{
    height:auto;
    width:100%;
    margin:5px;
    float:left;
}

.add img{
    height:21px;
    width:21px;
    float:left;
}

.painel ul li{
	float:left;
	margin-right:15px;
	text-align:left;
}

.painel ul{
	float: left;
	margin-left: 0;
	padding-left: 0;
}

#addDespesaBtn:hover{
	background: #ADC4DC !important;
}