/* Form */
.formInner{
	margin: 0 auto;
	width: 1120px;
}

.selected{
	background:#CCC !important;
}


#tableUsers tr:not(:first-child):hover{
	background:#CCC !important;
}

.painel{
	height:auto;
	width:100%;
	margin:5px;	
}

#alterarItemModal{
	overflow-x: hidden;
}


#tableUsers tr:nth-child(2n+1) {
	background:  #e8e8e8 !important; 
}

#tableUsers tr:not(:first-child):hover{
	cursor:pointer;
}


#tableUsers tr:first-child{
	background: #ADC4DC !important;
	color: #000;
	font-weight: bold;
	font-size:12px;
	line-height: 20px;
}

#tableformModalEdition {
	width: 85%

}

#formModelAlterarUsuario > input{
	width: 100%
}